
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="my-3 pb-5">
    <div class="container-fluid">
        <h1>Previous Searches</h1>
        <p class="lead">Below is a list of previous searches.</p>
    </div>
</div>


